$row_padding_top: 20px;
$row_min_height: 338px + $row_padding_top;
$row_bg_color: #fff;

body {
  	padding-top: 50px;
	//background: #003a70 url('../img/cas_login_bg_sm.jpg') no-repeat;
}
.row {
	padding: 40px 15px;
	//text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 20px;
	opacity: .95;
	border-color: #003a70;


	.login-box,
	.instructions-box {
		width: 100%;
		//flex: 1 1 auto;
		//margin: 0 10px;
	}

	.login-box {
		text-align: left;
		border-bottom: thin solid #aaa;
		margin-bottom: 20px;
		padding-bottom: 12px;
	}

	.instructions-box {
		#collapse1.panel-collapse.collapse.in {
			//display: none;
		}
		.panel-body {
			ul {
				list-style-type: none;
				padding-left: 0;
				li:not(:last-child)  {
					padding-bottom: 10px;
				}
				//li:last-child {
				//	padding-bottom: 0;
				//}
			}
		}
	}
}


@media (min-width: 768px) {
	body {
		background: #003a70 url('../img/cas_login_bg.jpg') no-repeat;
		background-size: cover;
	}

	.container {
		min-height: 45em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.row {
			flex-direction: row;
			min-height: $row_min_height;
			background: $row_bg_color;
			padding-top: $row_padding_top;

			.login-box,
			.instructions-box {
				width: 45%;
			}

			.login-box {
				height: $row_min_height - 40;
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;

				border-right: thin solid #aaa;
				padding-right: 2em;

				h3 {
					margin-top: 0;
				}
			}

			.instructions-box {
				#collapse1.panel-collapse.collapse.in {
					display: block;
				}
			}
		}
	}
}